@font-face {
  font-family: 'icomoon';
  src:  url('../icomoon/fonts/icomoon.eot?feqs76');
  src:  url('../icomoon/fonts/icomoon.eot?feqs76#iefix') format('embedded-opentype'),
    url('../icomoon/fonts/icomoon.ttf?feqs76') format('truetype'),
    url('../icomoon/fonts/icomoon.woff?feqs76') format('woff'),
    url('../icomoon/fonts/icomoon.svg?feqs76#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Ubuntu+Mono');

html {
  /*background: url(https://raw.githubusercontent.com/arjunamgain/FilterMenu/master/images/bg.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.panel-body {
  overflow: hidden;
}

.clearfix:after,
.clearfix:before {
  /*content: '';*/
  display: table
}

.clearfix:after {
  clear: both;
  display: block
}

.contentTitle {
  margin-bottom: 20px;
  width:100%;
}

.contentTitle img {
  width: 45px;
  vertical-align: top;
}

.contentTitle h1 {
    font-size: 18px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.contentTitle h2 {
    font-size: 16px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}


.bottom .title {
  margin-bottom: 20px;
}

.bottom .title h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

.title small {
  font-size: 10px;
  /*color: #595959;*/
  text-transform: uppercase;
  letter-spacing: 1px;
}

.panelTool input {
  width: 18px;
  height: 18px;
  background: transparent;
  color: white;
  border-color: transparent;
  font-family: 'icomoon' !important;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul.details{
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
     -webkit-margin-after: 0;
    -webkit-margin-end: -12px;
    overflow-y: auto;
    height: 275px;
    color:#f0ffc0;
}

ul.details li {
  margin-right: 4px;
  padding:4px;
}

.fontIcon {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /*margin-right: 0.5em;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: bottom;
}

span.details {
    margin-right: 0.5em;
    line-height: 1.5em;
}

img.details{
    width:16px;
    height:16px;
    margin-right: 0.5em;
    vertical-align: text-bottom;
}

.navy {
    color: navy;
}

[class^="tool-"], [class*=" tool-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e9bd";
}

.icon-arrow-right2:before {
    content: "\ea3c";
}

.icon-arrow-left2:before {
    content: "\ea40";
}

#panelExpand {
    color: black;
    z-index: 1000;
    position: absolute;
    right: 3.5vmin;
    top: 3.5vmin;
}

.app-loading .loading-indicator {
    background-position: center center;
    background-image: url(../images/reload3.gif);
    background-repeat: no-repeat;
    background-size: 50vmin;
}

.loading-indicator {
  display: none;
  height: 100%;
  width: 100%;
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #fff; 
}

.app-loading .loading-indicator, 
.app-error .loading-indicator {
  display: block; 
}

.app-error .loading-message {
  background-position: top center;
  background-image: url(./images/error.png);
  background-repeat: no-repeat;
  padding-top: 60px;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 75%;
  left: 0;
  text-align: center; 
}

#loadingTitle {
    width: 100%;
    text-align: center;
    display: table;
    height: 100%;
}

#loadingTitle h1 {
    margin: 0.25em;
    vertical-align: middle;
    display: table-cell;
}
